<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="">
</head>
<body>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endfor %}
    
    <h3>Sign Up</h3>
    
    <form actions="/signup" method="post">
    {% csrf_token %}        
        <label for="">Username</label>
        <input type="text" id="username" name="username" placegolder="Create a username (only letters and numbers)" Required>
        <br>

        <label for="">First Name</label>
        <input type="text" id="fname" name="fname" placegolder="Enter Your First Name" Required>
        <br>

        <label for="">Last Name</label>
        <input type="text" id="lname" name="lname" placegolder="Enter Your Last Name" Required>
        <br>

        <label for="">Email Address</label>
        <input type="email" id="email" name="email" placegolder="Enter Your email Address" Required>
        <br>

        <label for="">Password</label>
        <input type="password" id="pass1" name="pass1" placegolder="Create Your Password" Required>
        <br>

        <label for="">Confirm your password</label>
        <input type="password" id="pass2" name="pass2" placegolder="Confirm Your Password" Required>
        <br>
        
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>